<div layout="row" layout-align="center center" layout-margin="">
    <user-auth></user-auth>
    <!--<weather-forecast class="text-center" flex=""-->
                      <!--location="Sunnyvale, CA" units="metric">-->
    <!--</weather-forecast>-->
  <!--<div layout="column" flex="70" layout-padding="" layout-wrap=""-->
       <!--ng-if="$mdMedia('gt-sm')">-->
    <!--<weather-forecast class="text-center" flex=""-->
                      <!--location="Sunnyvale, CA" units="metric">-->
    <!--</weather-forecast>-->
  <!--</div>-->
</div>
