<div ng-controller="SidenavController" ng-cloak="" layout="column"
     class="bao-sidenav" >
    <md-sidenav
      class="md-sidenav-left md-whiteframe-z2 mdl-color--blue-grey-800"
      md-component-id="left">
      <md-toolbar class="bao-sidenav-header mdl-color--blue-grey-900">
        <span class="md-toolbar-tools" style="text-align: center">
            {{name}}</span>
        <md-button ng-click="logout()">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Logout
        </md-button>
      </md-toolbar>
      <ul style="list-style: none;padding-left:0;">
        <menu-link></menu-link>
      </ul>
    </md-sidenav>
</div>
