<md-dialog aria-label="Create Meetup" ng-cloak="">
    <form name="eventForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>支付方式</h2>
                <span flex=""></span>
                <md-button class="md-icon-button"
                           ng-click="cancel()">
                    <i class="material-icons" aria-label="Close">&#xE5C9;</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="md-inline-form md-dialog-content"
                 layout-padding="">
                <md-input-container class="md-block">
                    <label>Payment Method</label>
                    <md-select name="method" ng-model="method">
                        <md-option ng-repeat="method in methods"
                                   value="{{method.$value}}"
                                   ng-click="writeMethod(method)">{{method
                            .$value}}</md-option>
                    </md-select>
                    <div ng-messages="eventForm.method.$error">
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Payment Method</label>
                    <textarea name="paymentMethod"
                              ng-model="paymentMethod.$value"
                           required></textarea>
                    <div ng-messages="eventForm.paymentMethod.$error"
                         ng-show="eventForm.paymentMethod.$touched||eventForm.paymentMethod.$submitted">
                        <div ng-message="required">The payment method is
                            required.
                        </div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <md-button class="md-raised md-primary"
               ng-click="savePaymentMethod()">Save Payment Method</md-button>
</md-dialog>
