<div layout="row" layout-padding layout-margin>
    <md-button class="md-primary md-raised"
               ng-click="businessCtrl.showDialogInventory($event)">
        提交入库</md-button>
    <md-button class="md-primary md-raised"
    ng-click="businessCtrl.showDialogPaymentMethod($event)">
    添加/修改支付方式</md-button>
</div>
<!--<div layout="row" layout-padding="" layout-margin="">-->
    <!---->
<!--</div>-->
<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">库存信息</h2>
            <span flex=""></span>
        </div>

    </md-toolbar>
</md-card>