<div layout="row" layout-padding layout-margin>
    <md-button class="md-primary md-raised"
               ng-click="businessCtrl.showDialogInventory($event)"
               ng-disabled="isDisabled.$value">
        提交入库</md-button>
    <md-button class="md-primary md-raised" ng-disabled="!(isadmin)"
               ng-click="businessCtrl.createDummyData(1000)">Create 1000 entries dummy data</md-button>
    <md-button class="md-primary md-raised" ng-disabled="!(isadmin || isshenyi)"
               ng-click="businessCtrl.showDialogAddProduct($event)">
        添加产品种类</md-button>
    <md-button class="md-primary md-raised" ng-disabled="!(isadmin || isshenyi)"
               ng-click="businessCtrl.showDialogPaymentConfirmation($event)">
        确认已付款</md-button>
    <md-button class="md-primary md-raised" ng-disabled="!(isadmin || isshenyi)"
               ng-click="businessCtrl.showDialogDeliveredConfirmation($event)">
        确认已收货</md-button>
    <md-switch  ng-model="status" ng-disabled="!(isadmin || isshenyi)"
                ng-change="toggledisableAdd()">
        {{ '提交已' + (!status ? '开启': '关闭')}}
    </md-switch>
</div>
<!--<span>{{businesses.sum()}}</span>-->
<div layout="row">
    <md-card ng-repeat="(key, value) in businesses.sum()">
        <span>{{key}}</span>
        <indicator-donut class="widget-container"
                         expected="100"
                         submit-count="{{value}}"
                         paid-count="{{businesses.sumP()[key]}}"
                         delivery-count="{{businesses.sumD()[key]}}"
        ></indicator-donut>
    </md-card>
</div>


<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">库存信息</h2>
            <span flex=""></span>
        </div>
    </md-toolbar>
    <md-virtual-repeat-container  ng-style="businessCtrl.listStyle">

    <md-table-container>
        <table md-table md-row-select multiple ng-model="selected"
               md-progress="businessCtrl.businesses">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="mitbbsId">
                        <span>Mitbbs ID</span>
                    </th>
                    <th md-column md-order-by="product">
                        <span>Product Name</span>
                    </th>
                    <th md-column md-numeric md-order-by="price">Price</th>
                    <th md-column md-numeric>Quantity</th>
                    <th md-column md-numeric>Total Price</th>
                    <th md-column>Location</th>
                    <th md-column>Zip Code</th>
                    <th md-column>Payment Method</th>
                    <th md-column md-order-by="paid">Paid Confirmation</th>
                    <th md-column md-order-by="delivered">Delivered Confirmation</th>
                </tr>
            </thead>
            <!--<div business-virtual-list business-data-provider="businesses">-->

            <!--</div>-->
            <tbody md-body>
                <tr md-row md-select="business" md-auto-select class="repeated-item"
                    md-virtual-repeat="business in businesses | orderBy: query.order">
                    <td md-cell>{{business.mitbbsId}}</td>
                    <td md-cell>{{business.product}}</td>
                    <td md-cell>$ {{business.price  | number: 2}}</td>
                    <td md-cell>{{business.quantity}}</td>
                    <td md-cell>$ {{business.price * business.quantity | number: 2}}</td>
                    <td md-cell>{{business.location}}</td>
                    <td md-cell>{{business.zipCode}}</td>
                    <td md-cell>{{business.paymentMethod}}</td>
                    <td md-cell>{{business.paid}}</td>
                    <td md-cell>{{business.delivered}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    </md-virtual-repeat-container>

</md-card>
